*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

nav{
	margin: 5px 10px;
	position: sticky;
}

.nav-logo, .right-nav{
	display: inline-block;
	list-style-type: none;

}

.nav-logo{
	margin-left: 5%;
}

.right-nav{
	float: right;
	align-content: center;
	margin-right: 5%;
	font-weight: bold;
}

.right-nav .nav{
	padding-left: 1rem;
	display: inline-block;
}

.tuitt-button{
	background-color: #c2195b;
	padding: 7px 15px;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: .8rem;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	min-width: 100vw;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100%;	
}

.front-bg{
	background-color: rgb(0,0,0,.5);
	min-height: 50vh;
	min-width: 100vw;
	background-size: 100%;
	
	position: relative;
	z-index: 2;

}

.container{
	position: absolute;
	margin-right: 7%;
	width: 40vw;
	top: 0;
	right: 0;
	z-index: 1;
}

.title{
	text-align: right;
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

.subtitle{
	position: absolute;
	right: 0;
	width: 70%;
	font-size: 1rem;
}

.apply-button{
	position: absolute;
	right: 0;
	top: 230px;
	background-color: #c2195b;
	padding: 7px 35px;
	border-radius: 25px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: .8rem;
}

.title, .subtitle{
	text-align: right;
	color: white;
}

.intro{
	margin: 2% 5%;
	font-family: 'Zilla Slab', sans-serif;
}

.title-2{
	text-align: center;
	padding: 3%;
}
.intro-description{
 	padding: 0 5%;
}

.prefooter-description{
	padding: 0% 10%;
	margin-bottom: 15px;
	text-align: center;
}

.pre-footer{
	background-color: #f7fbfb;
	height: 50vh;
	
}

.book-button{
	width: 12%;
	margin-left: 44%;
	margin-right: 44%;
	background-color: #336589;
	border: none;
	color: white;
	border-radius: 25px;
	padding: 7px 25px;

}

footer{
	text-align: center;
}